<a class="logo" {{ page == 'index' ? 'aria-current="page"' : 'href="index.html"' }}>
	<span class="visually-hidden">На главную.</span>
	<img class="logo__image" src="images/svg/logo.svg" alt="Логотип {{ projectName}}." width="130" height="41">
</a>
